img {
  width: 250px;
}

h1 {
  text-align: center;
  font-size: 45px;
}

#subscribe {
  flex-direction: column;
}

#subscribe-btn {
  font-size: 25px;
  border-radius: 500px;
  padding: 15px 50px;
  /* width: 20%; */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
